# Virtual environments
.venv/
.venv-1/

# Environment variables
.env
**/.env

# Python
__pycache__/
**/__pycache__/
*.py[cod]

# Database
*.db

# ChromaDB
backend/chroma_db/

# Node
node_modules/
.next/